{% extends 'base.html' %}

{% block title %}
    {{ model_name | capitalize }} - Detail
{% endblock %}

{% block body %}
    <div class="entities">
        <div class="entities__header">
            <h3 class="entities__text">
                {{ model_name }} - {{ data.id }}
            </h3>
            <div class="entities__btns-row">
                <button class="entities__btn blue-btn">
                    Edit {{ model_name }}
                </button>
            </div>
        </div>

        <div class="entities__data">
            {% for name, value in data.items() %}
                <div class="entities__detail-row">
                    <p class="entities__detail-row-field-title">
                        {{ name }}
                    </p>
                    <p class="entities__detail-row-field-value">
                        {% if value is boolean %}
                            {% if value %}
                                 <img src="/static/images/done.svg" alt="True" width="16" height="16" />
                            {% else %}
                                    <img src="/static/images/cancel-red.svg" alt="False" width="16" height="16" />
                            {% endif %}
                        {% elif value is iterable and value is not string and value is not mapping %}
                            {% for val in value %}
                                <span class="entities__different-link">
                                    {{ val }} <br />
                                </span>
                            {% endfor %}
                        {% else %}
                            {{ value }}
                        {% endif %}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}