<div class="table-wrapper">
    <table class="entities__table">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="all" name="all" class="table-checkbox" />
                </th>
                {% for field in fields %}
                    <th>
                        {{ field }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for user in data %}
            <tr>
                <td>
                    <div class="flex-col">
                        <input type="checkbox" id="{{ user.id }}" name="{{ user.id }}" class="table-checkbox" />
                        <div class="entities__edit-row">
                            <button class="entities__edit-btn" type="button"
                                    onclick="window.location.href=`{{ request.url.path.replace('/list', '') }}/{{ user.id }}/`">
                                <img src="/static/images/eye.svg" alt="View" width="24" height="24" />
                            </button>
                            {% if is_editable %}
                                <button class="entities__edit-btn" type="button">
                                    <img src="/static/images/edit.svg" alt="Edit" width="24" height="24" />
                                </button>
                            {% endif %}
                            {% if is_deletable %}
                                <button class="entities__edit-btn" type="button">
                                    <img src="/static/images/trash.svg" alt="Delete" width="24" height="24" />
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </td>
                {% for name, value in user.items() %}
                    <td {% if link_fields and name in link_fields and value is string or value is mapping %} class="entities__link-field" {% endif %}>
                        {% if value is boolean %}
                            {% if value %}
                                <img src="/static/images/done.svg" alt="True" width="16" height="16" />
                            {% else %}
                                <img src="/static/images/cancel-red.svg" alt="False" width="16" height="16" />
                            {% endif %}
                        {% elif value is iterable and value is not string and value is not mapping %}
                            {% for val in value[:10] %}
                                <span class="entities__different-link">
                                    {{ val }}, <br/>
                                </span>
                            {% endfor %}
                        {% else %}
                            {{ value | striptags | truncate(40) }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>