{% extends 'base.html' %}

{% block title %}
    Users List
{% endblock %}

{% block body %}
    <div class="entities">
        <div class="entities__header">
            <h3 class="entities__text">
                {{ page_title | capitalize}}
            </h3>
            <div class="entities__btns-row">
                <button class="entities__btn gray-btn">
                    Export
                </button>
                {% if can_create %}
                    <button class="entities__btn blue-btn">
                        <img alt="" src="/static/images/plus.svg" class="entities__icon" width="16" height="16" />
                        New {{ model_name }}
                    </button>
                {% endif %}
            </div>
        </div>

        <div class="entities__header-bottom">
            <select class="entities__select-input">
                <option value="">Actions</option>
                <option value="delete" class="red-text">Delete</option>
            </select>

            <div class="entities__search-container">
                <input name="q" class="entities__search-input" placeholder="Search: {{ model_name | lower }}"/>
                <button type="submit" class="entities__btn search-btn">
                    Search
                </button>
                <button type="button" class="entities__btn search-btn cancel">
                    <img src="/static/images/cancel.svg" alt="" width="16" height="16" />
                </button>
            </div>
        </div>

        {% include "/blocks/entity_table.html" %}

    </div>
{% endblock %}